<div class="container">
  <div class="list">
      <h2 class="title" >{{title}}</h2>
      <mat-divider class="break"></mat-divider>
      <div class="add-item">
        <div class="add-item1">
            <input class="add-item-input" matInput [(ngModel)]="selectedSalary.cpf"
            placeholder="  CPF" disabled="{{!isAdd}}">
            <input class="add-item-input" matInput [(ngModel)]="selectedSalary.date"
            placeholder="  Data" >
            <input class="add-item-input" matInput [(ngModel)]="selectedSalary.salary"
            placeholder="  Salário" >
            <input class="add-item-input" matInput [(ngModel)]="selectedSalary.discount"
            placeholder="  Desconto" >
            <button mat-icon-button *ngIf="isAdd" class="add-item-icon"
            matTooltip="Adicionar item" matTooltipPosition="below"
            (click)="addItem()">
                <mat-icon class="icon-add">add</mat-icon>
            </button>
            <button mat-icon-button *ngIf="!isAdd" class="add-item-icon"
                  matTooltip="Edit item" matTooltipPosition="below" (click)="updateItem()">
                  <mat-icon class="icon-add">edit_outline</mat-icon>
            </button>
            <button mat-icon-button *ngIf="!isAdd" class="add-item-icon"
                matTooltip="Edit item" matTooltipPosition="below" (click)="cancelUpdate()">
                <mat-icon class="icon-add">close_outline</mat-icon>
            </button>
        </div>
      </div>
      <div class="list-main">
          <div (click)="selectItem(salary)" class="list-info-item" *ngFor="let salary of salaryList"
          [ngClass]="{'active-item': salary?.id === selectedSalary?.id}">
            <div>{{ salary?.cpf }}</div>
            <div>{{ salary?.date }}</div>
            <div>{{ salary?.salary }}</div>
            <div>{{ salary?.discount }}</div>
            <div class="align-right">
              <button mat-icon-button (click)="removeItem(salary.id)"
                  matTooltip="Remover item" matTooltipPosition="below">
                  <mat-icon class="icon-delete">delete_outline</mat-icon>
              </button>
            </div>
          </div>
          <mat-divider class="break"></mat-divider>

          <h2 class="title" >Cálculos globais</h2>
          <div class="list-header">
            <div>Media de salário</div>
            <div>Media de descontos</div>
            <div>Maior salário</div>
            <div>Menor salário</div>
          </div>

            <div class="list-info-item">
                <div>{{ salaryCalcule?.salaryAverage | number: '1.2-2'}}</div>
                <div>{{ salaryCalcule?.discountAverage | number: '1.2-2'}}</div>
                <div>{{ salaryCalcule?.bigestSalary | number: '1.2-2'}}</div>
                <div>{{ salaryCalcule?.lowestSalary | number: '1.2-2'}}</div>
            </div>
      </div>
  </div>

</div>

